<!DOCTYPE html>
<html>
	<head>
		<title>Volontari</title>
	</head>
	<body>
		<div>
			Codice Fiscale: <span th:text="${volontario.codiceFiscale}"></span>
		</div>
		<div>
			Nome:<span th:text="${volontario.nome}"></span>
		</div>
		<div>
			Cognome:<span th:text="${volontario.cognome}"></span>
		</div>
		<div>
			Data Nascita:<span th:text="${volontario.dataDiNascita}"></span>></span>
		</div>
		<div>
			Specializzazione:<span th:text="${volontario.specializzazione}"></span>
		</div>
		

		
	</body>	


</html>