<!DOCTYPE html>
<html>
	<head>
		<title>Volontari</title>
	</head>
	<body>
		<div>
			Codice Fiscale: <span th:text="${volontario.codiceFiscale}"></span>
		</div>
		<div>
			Nome:<span th:text="${volontario.nome}"></span>
		</div>
		<div>
			Cognome:<span th:text="${volontario.cognome}"></span>
		</div>
		<div>
			Data Nascita:<span th:text="${volontario.dataDiNascita}"></span>></span>
		</div>
		<div>
			Specializzazione:<span th:text="${volontario.specializzazione}"></span>
		</div>
		<div>
			<a th:href="@{/admin/volontari/{id}/modifica(id=${volontario.id})}"
			   style="display: inline-block; padding: 8px 16px; background-color: #007bff; color: white; text-decoration: none; border-radius: 4px; margin-right: 10px;">
			    ✏️ Modifica Informazioni
			</a>
		</div>
		<div>
			<a th:href = "@{/admin/volontari/{id}/elimina(id = ${volontario.id})}"
					onclick="return confirm('Sei sicuro?');"
					style = "display: inline-block; padding: 8px 16px; background-color: #007bff; color: white; text-decoration: none; border-radius: 4px; margin-right: 10px;">
					❌ Elimina Volontario
			</a>
		</div>	
	</body>	


</html>