<!DOCTYPE html>
<html>

<head>
	<title>Aree</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<nav class="navbar-top">
		<button type="button" onclick="window.location.href='/'" class="btn-home-nav">
			🏡 Home
		</button>

		<div class="navbar-right">
			<div class="profile-avatar-wrapper">
				<img th:src="@{/immagini/profile_default.jpg}" alt="Profilo">
			</div>

			<form th:if="${userDetails != null}" th:action="@{/logout}" method="POST">
				<button type="submit" class="btn-action-nav btn-logout">Disconnetti</button>
			</form>

			<form th:if="${userDetails == null}" th:action="@{/login}">
				<button type="submit" class="btn-action-nav">🔑 Log in</button>
			</form>
		</div>
	</nav>

	<div class="main-dashboard">

		<div class="dashboard-intro">
			<h1 th:text="${area.id == null} ? 'Aggiungi Nuova Area 🗺️' : 'Modifica Area ✏️'">Aggiungi Aree</h1>
			<p>Definisci gli spazi e gli ambienti destinati ai nostri ospiti</p>
		</div>

		<form th:action="${area.id == null} ? @{/admin/aree} : @{/admin/aree/{id}/modifica(id=${area.id})}"
			th:method="POST" th:object="${area}" class="form-strutturato">

			<input type="hidden" th:field="*{id}" />

			<div th:if="${#fields.hasGlobalErrors()}" class="form-error-global">
				<p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
			</div>

			<div class="form-group">
				<label>Nome Area:</label>
				<input type="text" th:field="*{nome}" placeholder="Es: Area Cani Grandi" />
				<span class="error-message" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
			</div>

			<div class="form-group">
				<label>Capacità Massima:</label>
				<input type="text" th:field="*{capacita}" placeholder="Es: 15" />
				<span class="error-message" th:if="${#fields.hasErrors('capacita')}" th:errors="*{capacita}"></span>
			</div>

			<div class="form-group">
				<label>Descrizione dello spazio:</label>
				<input type="text" th:field="*{descrizione}" placeholder="Caratteristiche, restrizioni o dettagli..." />
				<span class="error-message" th:if="${#fields.hasErrors('descrizione')}"
					th:errors="*{descrizione}"></span>
			</div>

			<div class="form-group">
				<label>URL Immagine di Copertina:</label>
				<input type="url" th:field="*{immagineUrl}" placeholder="https://esempio.com/area.jpg" />
				<span class="error-message" th:if="${#fields.hasErrors('immagineUrl')}"
					th:errors="*{immagineUrl}"></span>
			</div>

			<div class="form-submit-container">
				<button type="submit" class="btn-action-nav btn-submit-form">
					Conferma Area
				</button>
			</div>
		</form>
	</div>
</body>

</html>