<!DOCTYPE html>
<html>
	<head>
		<title>Richieste</title>
	</head>
	
	<body>
		<h1> Richiesta di Adozione per <span th:text="${animale.nome}">Nome Animale</span></h1>
		
		<form th:method="POST" 
			  th:action="${richiesta.id == null} ? @{/utenti/animali/{id}/salva-richiesta(id=${animale.id})} : @{/utenti/richieste/{id}/modifica(id=${richiesta.id})}"
			  th:object="${richiesta}">
			 
			<input type="hidden" th:field="*{id}" />
			
			<div th:if="${#fields.hasGlobalErrors()}">
				<p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
			</div>
			
			<div>
				Descrizione: <span><input type="text" th:field="*{descrizione}"></span>
				<p th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}" style="color:red;"></p>
			</div>
			
			<div>
				<span><button type="submit">Conferma</button></span>
			</div>
		</form>
	</body>
</html>