<!DOCTYPE html>
	<head>
		<title>Aggiungi una Cartella</title>
		<link rel="stylesheet" th:href="@{/css/style.css}">
	</head>
	<body>
		<nav class="navbar-top">
		    <button type="button" onclick="window.location.href='/'" class="btn-home-nav">
		        🏡 Home
		    </button>
		    
		    <div class="navbar-right">
		        <div class="profile-avatar-wrapper">
		            <img th:src="@{/immagini/profile_default.jpg}" alt="Profilo">
		        </div>
		        
		        <form th:if="${userDetails != null}" th:action="@{/logout}" method="POST">
		            <button type="submit" class="btn-action-nav btn-logout">Disconnetti</button>
		        </form>
		        
		        <form th:if="${userDetails == null}" th:action="@{/login}">
		            <button type="submit" class="btn-action-nav">🔑 Log in</button>
		        </form>
		    </div>
		</nav>

		<div class="main-dashboard">
			
			<div class="dashboard-intro">
				<h1>Cartella Clinica 🩺</h1>
				<p>Inserisci o modifica i dati sanitari per <span th:text="${animale.nome}" >Nome Animale</span></p>
			</div>

			<form th:action="${cartellaClinica.id == null} ? @{/admin/animali/{id}/salva-cartella(id=${animale.id})} : @{/admin/cartelleCliniche/{id}/modifica(id=${cartellaClinica.id})}"
				  th:method="POST"
				  th:object="${cartellaClinica}"
				  class="form-strutturato">
				  
				<input type="hidden" th:field="*{id}" />

				<div th:if="${#fields.hasGlobalErrors()}" class="form-error-global">
					<p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
				</div>

				<div class="form-group">
					<label for="dataVisita">Data della visita:</label>
					<input type="date" id="dataVisita" th:field="*{dataVisita}" required />
					<span class="field-error" th:if="${#fields.hasErrors('dataVisita')}" th:errors="*{dataVisita}"></span>
				</div>
				  
				<div class="form-group">
					<label for="diagnosi">Diagnosi riscontrata:</label>
					<input type="text" id="diagnosi" th:field="*{diagnosi}" placeholder="Es: In salute, dermatite, controllo di routine..." required/>
					<span class="field-error" th:if="${#fields.hasErrors('diagnosi')}" th:errors="*{diagnosi}"></span>
				</div>

				<div class="form-group">
					<label for="terapia">Terapia consigliata:</label>
					<input type="text" id="terapia" th:field="*{terapia}" placeholder="Es: Applicazione lozione lenitiva 1v al giorno..."/>
					<span class="field-error" th:if="${#fields.hasErrors('terapia')}" th:errors="*{terapia}"></span>
				</div>

				<div class="form-group">
					<label for="peso">Peso attuale (kg):</label>
					<input type="text" id="peso" th:field="*{peso}" placeholder="Es: 12.5"/>
					<span class="field-error" th:if="${#fields.hasErrors('peso')}" th:errors="*{peso}"></span>
				</div>

				<div class="form-submit-container">
					<button type="submit" class="btn-action-nav btn-submit-form">
						Conferma Cartella Clinica
					</button>
				</div>
				
			</form>
		</div>
	</body>
</html>