<!DOCTYPE html>
<html>
	<head>
		<title> Aggiungi un Animale </title>
	</head>
	<body> 
		<h1> Inserisci un nuovo ospite </h1>
		<form th:action = " ${animale.id == null} ? @{/admin/animali} : 
							@{/admin/animali/{id}/modifica(id = ${animale.id})}"
			  th:method = "POST" 
			  th:object = "${animale}">
			  
			<input type="hidden" th:field="*{id}" />
			
		<div>
			Nome: <span><input required type="text" th:field = "${animale.nome}"/></span>
		</div>
		<div>
			Specie: <select th:field="${animale.specie}">
				<option value="">--Scegli Specie--</option>
				<option th:each="s : ${specie}" th:value="${s}" th:text="${s}"></option>
			</select>
		</div>
		<div>
			Razza: <span><input required type="text" th:field = "${animale.razza}"/></span>
		</div>
		<div>
			Data di nascita: <span><input type = "date" th:field = "${animale.dataNascita}"/></span>
		</div>
		<div>
			Data di arrivo: <span><input type = "date" th:field = "${animale.dataArrivo}"/></span>
		</div>
		<div>
			Descrizione: <span><input required type = "text" th:field = "${animale.descrizione}"/></span>
		</div>
		<div>
			URL dell'immagine: <span><input type = "url" th:field = "${animale.immagineUrl}"/></span>
		</div>
		</div>
			</span><button type = "submit"> Conferma </button></span>
		</div>
		</form>
	</body>
</html>
 		