<!DOCTYPE html>
<html>
	<head>
		<title> Area </title>
	</head>
	<body> 
		<h1 th:text="${area.nome}"></h1>
		<div>
			Capacità:<span th:text="${area.capacita}"></span>
		</div>
		<div>
			Descizione:<span th:text="${area.descrizione}"></span>
		</div>
		<div>
			<img th:src="${area.immagineUrl}"></img> 
		</div>
		<div th:if="${userDetails != null and userDetails.authorities.toString().contains('ADMIN')}" type="submit">
				<a th:href="@{/admin/aree/{id}/modifica(id=${area.id})}" 
				style="display: inline-block; padding: 8px 16px; background-color: #007bff; color: white; text-decoration: none; border-radius: 4px; margin-right: 10px;">
				✏️ Modifica Informazioni
				</a>
				
				<a th:href="@{/admin/aree/{id}/elimina(id=${area.id})}" 
				onclick="return confirm('Sei sicuro?');"
				style="display: inline-block; padding: 8px 16px; background-color: #dc3545; color: white; text-decoration: none; border-radius: 4px;">
				❌ Elimina Area
				</a>			
		</div>
	</body>
</html>