<!DOCTYPE HTML>
<html>
	<head>
		<title>	Richiesta Adozione </title>
	</head>
	<body>
		<h1 th:text="${richiesta.id}"> Id richiesta</h1>
		<div>
			Animale Richiesto:<span th:text="${richiesta.animale.nome + '-' + richiesta.animale.specie}"></span>
		</div>
		<div>
			Effettuata in:<span th:text="${#temporals.format(richiesta.dataOra, 'dd/MM/yyyy HH:mm')}"></span>
		</div>
		<div>
			Stato:<span th:text="${richiesta.stato}"></span>
		<div>
			<span th:if = "${richiesta.stato.name() == 'RIFIUTATA' and richiesta.dataOraRifiuto != null}"> Data e ora Rifiuto: 
				<span th:text = "${#temporals.format(richiesta.dataOraRifiuto, 'dd/MM/yyyy HH:mm')}"></span>
			</span>
			
			<span th:if = "${richiesta.stato.name() == 'APPROVATA' and richiesta.dataOraAccettazione != null}"> Data e ora Approvazione: 
					<span th:text = "${#temporals.format(richiesta.dataOraAccettazione, 'dd/MM/yyyy HH:mm')}"></span>
			</span>
		</div>
		</div>
		<div>
			Descrizione:<span th:text="${richiesta.descrizione}"></span>
		</div>
		<div>
			<span>
			<a th:href = "@{/utenti/richieste/{id}/modifica(id = ${richiesta.id})}"
				style = "display: inline-block; padding: 8px 16px; background-color: #007bff; color: white; text-decoration: none; border-radius: 4px; margin-right: 10px;">
				✏️ Modifica Informazioni
			</a>
			</span>
			<span>
		    <form th:action="@{/utenti/richieste/{id}/elimina(id=${richiesta.id})}" th:method="POST" style="display: inline;">
		        <button type="submit" 
		                onclick="return confirm('Sei sicuro di voler eliminare questa richiesta?');"
		                style="display: inline-block; padding: 8px 16px; background-color: #dc3545; color: white; border: none; border-radius: 4px; cursor: pointer; font-size: 16px;">
		            ❌ Elimina Richiesta
		        </button>
		    </form>
			</span>
		</div>
	</body>
</html>
	