<!DOCTYPE HTML>
<html>
	<head>
		<title>	ANIMALI </title>
	</head>
	<body>
		<h1> lista animali </h1>
		<div>
			<ul>
				<li th:each = "animale : ${animali}">
					<a th:href = "@{'/animali/' + ${animale.id}}" th:text = "${animale.nome}"> NomeAnimale </a>
				</li>
			</ul>
		</div>
		<div>
			<a 	th:if = "${userDetails != null and userDetails.authorities.toString().contains('ADMIN')}"
				th:href="@{/admin/animali/form}"
			       style="display: inline-block; padding: 8px 16px; background-color: #28a745; color: white; text-decoration: none; border-radius: 4px;">
			       ➕ Aggiungi Animale
			</a>
		</div>
	</body>
</html>
	